@media (max-width: 700px){
    .nosotros-p{
        width: 100%;
    }

}

@media (max-width: 500px){

    .nosotros-p{
        width: 100%;
    }


/* HISTORIA */
.img2{
    display: none;
}
.img2-responsive{
    display: flex;
}
.contenedor{
    flex-direction: column;
}
/* FOOTER */
    footer{
        padding: 20px;
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    .footer-info{
        display: flex;
        flex-direction: column;
    }
    .redes{
        width: 100%;
    }
    .redes-a{
        padding: 20px;
    }
}