:root{
    --color-texto:#FFFFFF;
    --color-texto2:#000000;
    --color-cafe:#F7E5D2;
    --color-datalles:#404D3B;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-family:Lucida;

}
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}
a{
    text-decoration: none;
}

header{
   background-color: var(--color-cafe);

}
nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    padding: 10px;
    font-size: 1.2rem;
}

.herder-a{
    display: flex;
    color: var(--color-texto2);
}
.herder-a:hover{
    color: #333;
}
.logo-pag{
    width:100px ;
}
/* INICIO */
.Inicio {
        background-image: url(./fotos/fondo-cafe.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        text-align: center;
        color: white;
        padding: 20px;

        background-attachment: fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover; 
        -o-background-size: cover; 
}
.titulo {
    text-align: start;
    margin-left: 50px;
    font-size: 4rem;
    width: 50%;
}

.inicio-buton {
    display: flex;
    flex-direction: row;
}

.buton-a {
    border: solid 1px white;
    width: 200px;
    text-align: center;
    padding: 10px;
    margin: 5px;
}

.buton-a:hover {
    background-color: var(--color-datalles);
    transition: .5s;
}

.b1 {
    margin-left: 50px;
}

.buton-a a {
    color: var(--color-texto); 
    font-size: 1.2rem;
}


/* OFERTA */
.oferta{
    background-color: var(--color-datalles);
    color: var(--color-texto);
    text-align: center;
    padding: 25px;
    font-size: 1.4rem;
}
/* FOTO Y DESCRIPCION */

content {
    background-color: var(--color-texto);
    display: flex;
    justify-content: center;
    padding: 20px;
  }

  .come, .bebe, .disfruta {
    display: flex;
    align-items: center;
  }

  .descripcion-foto {
    float: left;
    width: 50%;
    height: auto;
    object-fit: cover;
    text-align: center;
  }

  .content-sub-titulo {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }

  .descripcion-p {
    font-size: 1.2rem;
    line-height: 1.4;
    text-align: center;
    margin: 0 40px;
  }
  b, h3{
    font-size: 2rem;
    color: var(--color-datalles);
  }

.foto-compu{
    display: none;
}

  /* HORARIOS */

  section{
    display: flex;
    text-align: center;
    background-color: var(--color-cafe);
    height: 50vh;
    width: 100% !important;
  }
 .section-horarios-titulo{
    background-color: var(--color-cafe);
    font-size: 2rem;
    text-align: center;
    padding:20px 0;
  }
    .horarios-caracteristicas{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
  }

  .sub-horarios-caracteristicas{
    width: 100%;
    font-size: 1.3rem;
    line-height: 1.4;
  } 
  .sub-r6{
    padding: 10px;
    height: 70% ;
    border-right: solid 2px var(--color-datalles);
  }
  .section-horarios-titulo-master{
    width: 100% !important;
 }

  /* GALERIA */

.galeria{
    display: flex;
    max-height: 50vh;
    overflow-x: auto;
    object-fit: cover;
}

.galeria-img{
    width: 300px;
    object-fit: cover;
}

/* FOOTER */
 footer{
    display: flex;
    background-color: var(--color-datalles);
    height: 40vh;
    width: 100%;
}

.footer-info{
    display: flex;
    color: var(--color-texto);
    text-align: center;
    align-items: center;
    margin: 0 auto;
}
.footer-titulo{
    font-size: 2rem;
}
.sub-footer-info{
    font-size: 1.3rem;
}

.redes{
    display: flex;
    flex-direction: column;
    padding: 20px;
    height: 100%;
    justify-content: space-evenly;
    font-size: 1.3rem;
}
.redes-a{
    display: flex;
    color: var(--color-cafe);
    justify-content: space-evenly;
}



.redes-a:hover{
    color: #333 ;
}
input{
    background-color: transparent;
    border: solid 1px var(--color-texto);
    margin-top: 20px;
    border-radius: 10px;
    padding: 9px;
    color:  var(--color-texto);
} 
input::placeholder{
    color: #d0c4c4;
}
input:hover{
    background-color: #333;
}  