@media (max-width: 768px) {
     .logo-pag{
        width: 4.5rem ;
    } 
/* INICIO */
.Inicio{
  background-image: url(./fotos/responsive-fondo.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 95vh;
  width: 100%;
  color: var(--color-texto); 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;
}
.titulo{
    width: 100%;
    padding: 0;
    margin: 0 auto;
    text-align: center;
    width: 95%;
    margin-bottom: 20px;
    font-size: 2.5rem;
}
.inicio-buton {
    padding: 0;
    margin: -20px;
    width: 100%;

    justify-content: center;
}
.buton-a {
    display: block;
    text-align: center;
    align-items: center;
    
}
/* FOTO Y DESCRIPCION */
.foto-compu{
    display: block;
}
content {
    display: block;
  }
  .come, .bebe, .disfruta {
    display: block;
  }

  .descripcion-foto {
    width: 100%;
    height: 60vh;

  }

  .content-sub-titulo {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  b, h3{
    font-size: 2rem;
    color: var(--color-datalles);
  }
.content{
    display: flex;
    flex-direction: column;
}
  .bebe-responsive{
    display: none;
  }
 .descripcion-p{
    display: flex;
    flex-direction: column;
    height: 40vh;
    padding: 40px 30px;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
 }

 /* HORARIO */
 .section-horarios-titulo-master{
    display: inline-block;
 }
 .section-horarios-titulo{
    padding: 30px 0;
 }

 b, h3{
    font-size: 2rem;
  }
  .sub-horarios-caracteristicas{
    width: 100%;
    font-size: 1.3rem;
    line-height: 1.4;
  } 

}

@media (max-width: 480px){

/* OFERTA */
.oferta{
    font-size: 1.2rem;
}
.sub-horarios-caracteristicas{
    font-size: 1rem;
}
h3{
    font-size: 1.5rem;
    padding: 10px 0;
}

/* FOTO Y DESCRIPCION */
.descripcion-p{
    width: 100%;
    text-align: center;
    padding:  50px 5px 40px 5px;
    margin: 0 auto;
}

.sub-footer-info{
    font-size: 1rem;
}

}
@media (max-width: 370px){
    footer{
        padding: 20px;
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    .footer-info{
        display: flex;
        flex-direction: column;
    }
    .redes{
        width: 100%;
    }
    .redes-a{
        padding: 20px;
    }
}

@media (max-width: 500px){
  .Inicio{
    background-image: url(./fotos/responsive-390.jpeg);
    height: 630px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;  
  }
} 
